@using MovieBase.ViewModels.Login;
@model RegistrationModel;

@{
    Layout = "_Layout";
    ViewBag.Title = "Аутентификация";
}

    <div>
        <form method="post">
            <label>Электорнная почта:</label><br />
            <input type="text" name="Email" /><br /><br />
            <label>Логин:</label><br />
            <input type="text" name="Login" /><br /><br />
            <label>Пароль:</label><br />
            <input type="text" name="Password" /><br /><br />
            <label>Подтвердите пароль:</label><br />
            <input type="text" name="ConfirmPassword" /><br /><br />
            <input type="submit" value="Зарегистрироваться" />
        </form>
    </div>