@model IEnumerable<Movie>
@{
    Layout = "_Layout";
    ViewBag.Title = "Movie DataBase";
}

<table class="table">
    <tr><td>Имя</td><td>Год</td></tr>
    @foreach (var movie in Model)
    {
        <tr>
            <td><a asp-action="Movie" asp-route-id="@movie.Id">@movie.Name</a></td>
            <td>@movie.ReleaseYear</td>
            <td>@movie.Description</td>
        </tr>
    }
</table>
